.new-tweet {
  background-color: #00a087;
  margin-right: 2em;
  margin-left: 2em;
  border-radius: 5pt;
  padding: 5pt;
  display: none;
}

.new-tweet h2 {
  color: #ffffff;
  border-bottom: 1px solid white;

}

.new-tweet textarea {
  width: 100%;
  border-radius: 2pt;
  border: 0;
  margin-bottom: 5px;
}

.new-tweet textarea:hover {
  outline-offset: -2px;
  outline: -webkit-focus-ring-color auto 5px;
}

.new-tweet input {
  border-radius: 3px;
  background-color: white;
  border: 0;
}

.new-tweet input:hover {
  color: #00a087;
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -1px;
  outline-color: rgba(170, 237, 204, 0.2);
 }

.counter {
  float: right;
  color: white;
}

.too-long {
  color: #C14242;
}

.warning {
  font-size: 0.75em;
  color: #C14242;
  font-weight: 700;
  margin-left: 10px;
  display: none;
}