#registration {
  background-color: $main-color;
  margin-right: 2em;
  margin-left: 2em;
  border-radius: 5pt;
  padding: 5pt;
  text-align: center;
  display: none;

  h2 {
    color: #ffffff;
    border-bottom: 1px solid white;
  }

  input {
    border-radius: 3px;
    background-color: white;
    border: 0;

    &:hover {
      color: $main-color;
      outline: -webkit-focus-ring-color auto 5px;
      outline-offset: -1px;
      outline-color: rgba(170, 237, 204, 0.2);
    }

  }


}

.text-inputs {
  width: 90%;
  margin: 0 0 15px 0;
}
