.new-tweet {
  background-color: #00a087;
  margin-right: 2em;
  margin-left: 2em;
  border-radius: 5pt;
  padding: 5pt;
}

.new-tweet h2 {
  color: #ffffff;
  border-bottom: 1px solid white;

}

.new-tweet textarea {
  width: 100%;

}

.new-tweet input {
  border-radius: 3px;
  background-color: white;
  border: 0;
}

.new-tweet input:hover {
  color: #00a087;
  /* border: 2px solid rgba(0, 160, 135, 0.67); */
}

.counter {
  float: right;
  color: white;
}

.too-long {
  color: #C14242;
}

.warning {
  font-size: 0.75em;
  color: #C14242;
  font-weight: 300;
  margin-left: 10px;
  display: none;
}