#tweets {
  margin: 30px 2em 10px 2em;
}

article.tweet {
  border-radius: 5px;
  border: 1px solid #00a087;
  overflow: hidden;
  margin-bottom: 10px;
}

article.tweet header {
  background-color: #00a087;
  color: #ffffff;
  overflow: auto;
}

article.tweet header .avatar {
  margin: 5px;
  height: 50px;
  width: 50px;
  float: left;
  border-radius: 3px;
}

article.tweet header .author {
  font-size: 2em;
  font-weight: 700;
  float: left;
}

article.tweet header .username {
  float: right;
  font-size: 0.75em;
  margin: 5px 2px;
}

article.tweet section {
  padding: 3px;
  margin: 0px;
}

article.tweet footer {
  border-top: 1px solid #00a087;
  padding: 7px;
  font-size: 0.5em;
  color: #00a087;
}

article.tweet footer .icons {
  display: none;
  float: right;
}

article.tweet footer .icons i {
  margin-right: 3px;
}

article.tweet:hover footer .icons {
  display: inherit;
}

article.tweet:hover {
  border: 1.5px solid #00a087;
  margin-bottom: 8.5px;
}

article.tweet:hover footer {
  border-top: 1.5px solid #00a087;
}